.about-hero{
       padding: 100px 0;
}

.about-hero-texts{
      width: 900px;
      margin: auto;
}

.about-hero-content h1{
       text-align: center;
       font-size: 65px;
       line-height: 1.4;
       margin-bottom: 20px;
}

.about-hero-content h1 span{
       color: var(--main-color);
}

.about-hero-texts p{
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    line-height: 1.75;
    color: rgb(50, 50, 50);
}

.about-hero-images{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 40px;
     margin-top: 50px;
     width: 90%;
     margin: 50px auto 0px auto;
}

.about-hero-images img{
       height: 450px;
       border-radius: 16px;
       -webkit-border-radius: 16px;
       -moz-border-radius: 16px;
       -ms-border-radius: 16px;
       -o-border-radius: 16px;
}

.about-body{
      padding-bottom: 100px;
}
.about-body-content h3{
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 20px;
      font-family: var(--regular-font);
}
.about-body p{
      font-size: 20px;
      line-height: 1.75;
      font-weight: 300;
      margin-bottom: 20px;
}

.about-body .description-grid{
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 50px;
}

.philosophy-wrapper{
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      gap: 80px;
      margin-top: 60px;
      align-items: center;
      place-items: center;
}

.philosophy-image{
      width: 80%;
}
.philosophy-texts h4{
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 20px;
      color: var(--main-color);
}
.philosophy-texts p{
       width: 90%;
}

.company-statements{
      width: 1000px;
      margin: 50px auto 0px auto;
}

.statement-box h4{
     font-size: 22px;
     text-transform: uppercase;
     font-weight: 600;
     color: var(--main-color);
     margin-bottom: 10px;
}

.statement-box p{
    font-size: 24px;
}
.statement-box p span{
     font-weight: 500;
}