.hero-section{
      background: url("../assets/heroBg.png") no-repeat;
      background-size: cover;
      background-position: center;
      height: 105dvh;
}

.hero-texts{
    padding-top: 60px;
}

.hero-texts h1{
      font-size: 70px;
      line-height: 1.45;
      font-weight: 500;
      min-height: 210px;
}
.hero-texts h1 span{
    font-weight: 700;
    color: var(--main-color);
}
.hero-texts .outerbox{
    overflow: hidden;
    background-color: white;
    transition: all 1.25s ease;
    -webkit-transition: all 1.25s ease;
    -moz-transition: all 1.25s ease;
    -ms-transition: all 1.25s ease;
    -o-transition: all 1.25s ease;
    position: relative;
}

.hero-row{
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin-top: 20px;
}

.action-column a{
     width: 200px;
     height: 55px;
     display: flex;
     border: 2px solid var(--main-color);
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
     align-items: center;
     justify-content: center;
     color: #222;
     gap: 3px;
     transition: all 0.7s ease;
     -webkit-transition: all 0.7s ease;
     -moz-transition: all 0.7s ease;
     -ms-transition: all 0.7s ease;
     -o-transition: all 0.7s ease;
}
.action-column a span{
    display: flex;
    margin-top: 3px;
}
.action-column a:hover{
     gap: 6px;
     background: var(--main-color);
     color: white;
}

.action-vid{
      height: 230px;
      width: 60%;
      margin: 65px auto 0px auto;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      overflow: hidden;
      background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../assets/hero2.jpg") no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
}

.action-vid span{
      width: 70px;
      height: 70px;
      background-color: #fa807291;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      display: flex;
      color: white;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      cursor: pointer;
}

.hero-description{
     display: flex;
     align-items: center;
     justify-content: center;
}
.hero-description-box{
      background: rgb(250, 250, 250);
      height: auto;
      width: 500px;
      transform: translateY(120px);
      -webkit-transform: translateY(120px);
      -moz-transform: translateY(120px);
      -ms-transform: translateY(120px);
      -o-transform: translateY(120px);
      padding: 50px 40px;
}

.hero-description-box h2{
     font-size: 40px;
     font-weight: 300;
     line-height: 1.5;
     margin-bottom: 15px;
}
.hero-description-box h2 span{
    font-weight: 500;
}
.hero-description-box p{
     font-size: 22px;
     font-weight: 300;
     line-height: 1.6;
}

.hero-extra{
    height: 600px;
    background: url("../assets/hero1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.about-section{
    padding: 100px 0;
    background: white;
}

.about-section-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.about-section-column h2{
    font-size: 60px;
    font-weight: 600;
    line-height: 1.5;
}
.about-section-column p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.75;
}

.link-btn{
    width: 200px;
    border: 2px solid var(--main-color);
    height: 55px;
    display: flex;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    align-items: center;
    justify-content: center;
    color: #222;
    overflow: hidden;
    position: relative;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    font-size: 16px;
}
.link-btn span.text{
     position: relative;
     z-index: 10;
}

.link-btn span.cover-shadow{
       position: absolute;
       left: 50%;
       transform: translate(-50%, 100%);
       -webkit-transform: translate(-50%, 100%);
       -moz-transform: translate(-50%, 100%);
       -ms-transform: translate(-50%, 100%);
       -o-transform: translate(-50%, 100%);
       top: 0;
       width: 200px;
       background: var(--main-color);
       display: flex;
       height: 200px;
       z-index: 1;
       border-radius: 100%;
       -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
       -ms-border-radius: 100%;
       -o-border-radius: 100%;
       transition: all 0.5s ease;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -ms-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
}
.link-btn:hover span.cover-shadow{
     transform: translate(-50%, 0) scale(1.65);
     -webkit-transform: translate(-50%, 0) scale(1.65);
     -moz-transform: translate(-50%, 0) scale(1.65);
     -ms-transform: translate(-50%, 0) scale(1.65);
     -o-transform: translate(-50%, 0) scale(1.65);
}
.link-btn:hover{
     background-color: var(--main-color);
}
.link-btn:hover span.text{
    color: white;
}

.features-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    margin-top: 60px;
}
.feature-row-moja{
      padding: 0 30px;
      max-width: 420px;
      position: relative;
      text-align: center;
}

.feature-row-moja::after{
     content: "";
     width: 1px;
     height: 100%;
     position: absolute;
     top: 0;
     right: 0;
     background: #ffb6af7a;
}
.feature-row-moja:nth-child(3)::after,
.feature-row-moja:nth-child(5)::after{
     display: none;
}

.feature-row-moja img{
      width: 45px;
      height: 45px;
      object-fit: contain;
      margin-bottom: 10px;
      filter: invert(52%) sepia(49%) saturate(537%) hue-rotate(317deg) brightness(105%) contrast(96%);
}

.feature-row-moja h3{
     font-weight: 500;
     font-size: 20px;
     margin-bottom: 5px;
}
.feature-row-moja p{
     font-size: 18px;
     font-weight: 300;
     color: rgb(60, 60, 60);
     line-height: 1.5;
}


.services-section{
    background: #fffaf9;
      padding: 120px 0;
}

.services-section-content{
      display: grid;
      grid-template-columns: 1.25fr 3fr;
      gap: 50px;
}

.services-intro{
      position: sticky;
      top: 100px;
      height: max-content;
}

.services-intro h4{
     padding: 10px 30px;
     background: #fab4ac39;
     display: inline-block;
     font-size: 14px;
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
     font-weight: 500;
     color: rgb(60, 60, 60);
}

.services-intro h3{
    margin: 20px 0;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 500;
}

.services-section-body h2{
       font-size: 50px;
       margin-bottom: 10px;
}

.digital-strategy-row,
.branding-content,
.production-content,
.other-solutions{
     margin-top: 40px;
}
.digital-strategy-row h3{
      font-size: 20px;
      font-weight: 500;
      padding-bottom: 10px;
      border-bottom: 1px solid #f8e3e0;
}
.digital-strategy-content,
.branding-content-row,
.production-content-row{
     display: grid;
     margin-top: 20px;
     grid-template-columns: 1fr 1fr;
     gap: 30px;
}
.digital-box{
     padding: 40px;
     background: white;
     border-radius: 16px;
     -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
     -ms-border-radius: 16px;
     -o-border-radius: 16px;
     box-shadow: 0px 0px 5px -2px rgba(249, 225, 225, 0.378);
}

.digital-strategy-content .digital-box:nth-child(1){
     grid-row: span 2;
     height: max-content;
}

.digital-box h4{
    font-size: 20px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    gap: 8px;
    line-height: 1.5;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}
.digital-box h4 span{
     width: 3px;
     height: inherit;
     display: flex;
     content: "";
     transition: all 0.75s ease;
     -webkit-transition: all 0.75s ease;
     -moz-transition: all 0.75s ease;
     -ms-transition: all 0.75s ease;
     -o-transition: all 0.75s ease;
     background: var(--main-color)
}
.digital-box:hover h4{
     gap: 15px;
}
.digital-box:hover h4 span{
      width: 5px;
}

.digital-box p{
    font-size: 17px;
    line-height: 1.6;
    font-weight: 300;
}
.digital-box:nth-child(1) p{
      margin-bottom: 20px;
}
.link-wrap{
     border-top: 1px solid rgba(220, 220, 220, 0.35);
     margin-top: 10px;
}
.digital-box a{
     display: flex;
     gap: 5px;
     align-items: center;
     margin-top: 10px;
     color: rgb(50, 50, 50);
     transition: all 0.75s ease;
     -webkit-transition: all 0.75s ease;
     -moz-transition: all 0.75s ease;
     -ms-transition: all 0.75s ease;
     -o-transition: all 0.75s ease;
}
.digital-box a:hover{
      color: var(--main-color);
      gap: 10px;
}
.digital-box a span{
    display: flex;
    margin-top: 2px;
}

.other-solutions-row{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 25px;
     margin-top: 20px;
}
.digital-box.small{
      padding: 30px;
}
.digital-box.small h4{
     font-size: 18px;
}


.process-section{
     padding: 110px 0;
     background: white;
}

.process-intro{
       width: 950px;
       margin: auto;
       text-align: center;
}
.process-intro h3{
     font-size: 18px;
     font-weight: 600;
     padding: 10px 30px;
     background: #fab4ac39;
     display: inline-block;
     font-size: 14px;
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
     font-weight: 500;
     color: rgb(60, 60, 60);
}
.process-intro h2{
      font-size: 60px;
      margin: 15px 0;
}

.process-intro p{
     font-size: 20px;
     line-height: 1.6;
     font-weight: 300;
     width: 90%;
     margin: auto;
}

.process-section-row{
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      gap: 100px;
      margin-top: 70px;
      align-items: center;
}

.process-section-images{
      position: relative;
      height: 700px;
}
.process-section-images img{
      position: absolute;
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
}
.process-section-images img:nth-child(1){
       height: 70%;
       width: 80%;
}
.process-section-images img:nth-child(2){
      bottom: -10%;
      height: 50%;
      width: 70%;
      right: 0;
}
.process-section-descriptions{
       position: relative;
       height: max-content;
}
.process-moja-wrap{
     display: flex;
     gap: 20px;
     align-items: center;
     margin-bottom: 30px;
     position: relative;
}

.process-number span{
     display: flex;
     width: 60px;
     height: 60px;
     background: var(--main-color);
     align-items: center;
     justify-content: center;
     color: white;
     position: relative;
     z-index: 10;
     font-size: 25px;
     font-family: var(--bold-font);
     font-weight: 700;
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
}
.process-moja{
     width: 80%;
     background: #ffe7e490;
     border-radius: 16px;
     -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
     -ms-border-radius: 16px;
     -o-border-radius: 16px;
     padding: 30px
}
.process-title{
     display: flex;
     align-items: center;
     gap: 10px;
     margin-bottom: 10px;
}
.process-moja img{
      width: 30px;
      height: 30px;
}
.process-title h3{
     font-size: 20px;
     font-weight: 500;
}
.process-moja p{
     font-size: 17px;
     font-weight: 300;
     line-height: 1.5;
     color: rgb(88, 88, 88);
}


.clients-section{
       padding: 110px 0;
       background: #ffd1cc39
}

.clients-intro{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 50px;
     align-items: center;
}
.clients-intro h3{
     font-size: 14px;
     font-weight: 500;
     padding: 12px 30px;
     background: rgba(255, 221, 221, 0.718);
     display: inline-flex;
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
}
.clients-intro h2{
     font-size: 60px;
     margin: 10px 0;
}

.clients-intro p{
     font-size: 20px;
     line-height: 1.7;
     font-weight: 300;
     color: rgb(50, 50, 50);
}
.clients-intro p span{
     font-weight: 500;
     font-size: 22px;
}

.clients-section-row{
      display: grid;
      grid-template-columns: 1fr 1.75fr;
      gap: 100px;
      margin-top: 50px;
      width: 90%;
      margin: 50px auto 0px auto;
}

.client-tab-moja{
      padding: 20px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.423);
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      display: flex;
      gap: 15px;
      align-items: center;
      margin-bottom: 20px;
      transition: all 0.8s ease;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
}
.client-tab-moja.active{
     background: white;
}
.client-tab-moja img{
       width: 60px;
       height: 60px;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
}
.client-tab-moja h3{
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;
}
.client-tab-moja p{
     font-size: 15px;
     color: rgb(88, 88, 88);
     font-weight: 300;
}

.clients-tab-content{
      position: relative;
      overflow-x: hidden;
      padding: 30px 0;
}
.clients-tab-content .reviews span{
     font-size: 25px;
     margin-bottom: 20px;
     display: inline-flex;
     color: var(--main-color);
}

.clients-tab-content .testimonial-client-text{
      position: absolute;
      transform: translateX(103%);
      -webkit-transform: translateX(103%);
      -moz-transform: translateX(103%);
      -ms-transform: translateX(103%);
      -o-transform: translateX(103%);
      transition: all 0.8s ease;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      opacity: 0;
}

.testimonial-client-text.active{
     transform: translateX(0);
     -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
     -ms-transform: translateX(0);
     -o-transform: translateX(0);
     opacity: 1;
}

.testimonial-client-text p{
       font-size: 22px;
       line-height: 1.7;
       font-weight: 300;
       ;
}

.testimonial-client-text p span{
      font-weight: 800;
      font-size: 30px;
      margin-right: 5px;
      color: var(--main-color);
}

.partners-section{
     margin-top: 60px;
}
.partners-title{
       display: flex;
       gap: 20px;
       align-items: center;
}
.partners-title h4{
       font-family: var(--regular-font);
       font-size: 20px;
       width: 380px;
       flex-shrink: 0;
       font-weight: 400;
       color: rgb(50, 50, 50);
}
.partners-title span.line{
      height: 0.5px;
      width: 100%;
      background: gainsboro;
}

.partners-logos{
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 50px;
      justify-content: center;
      width: 95%;
      margin: 50px auto 0px auto;
}

.partners-logos img{
      width: 180px;
      mix-blend-mode: multiply;
      max-height: 80px;
      object-fit: contain;
}

.blog-section{
     padding: 110px 0;
}
.blog-intro{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 50px;
     align-items: center;
}
.blog-intro h3{
     display: inline-block;
     padding: 12px 30px;
     background: #ffeae7;
     font-size: 14px;
     font-weight: 500;
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
     margin-bottom: 10px;
     color: rgb(50, 50, 50)
}

.blog-intro h2{
       font-size: 50px;
       line-height: 1.5;
}
.blog-intro h2 span{
      color: var(--main-color);
}
.blog-intro p{
      font-size: 20px;
      line-height: 1.7;
      font-weight: 300;
}
.blog-intro a{
     margin-top: 20px;
}
.blog-section-row{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin-top: 60px;
}

.blog-image{
      height: 400px;
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      overflow: hidden;
}
.blog-image img{
      transition: all 0.8s ease;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
}
.blog-moja:hover .blog-image img{
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
}

.blog-texts h3{
      font-size: 24px;
      margin: 10px;
      line-height: 1.4;
      font-weight: 600;
}

.blog-texts a{
     display: flex;
     gap: 5px;
     align-items: center;
     margin: 10px;
     font-weight: 500;
     color: var(--main-color);
     transition: all 0.8s ease;
     -webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
     -ms-transition: all 0.8s ease;
     -o-transition: all 0.8s ease;
}
.blog-texts span{
      display: flex;
      margin-top: 3px;
}
.blog-moja:hover .blog-texts a{
    gap: 10px;
}

.call-to-action-section{
     background: linear-gradient(#2f272c59, #645856b9, #2b2423), url("../assets/callBG.jpg") no-repeat;
     background-size: cover;
     background-position: center;
     padding: 150px 0;
}

.call-to-action-texts{
       width: 850px;
       margin: auto;
       text-align: center;
}
.call-to-action-texts h2{
      font-size: 70px;
      font-weight: 600;
      margin-bottom: 20px;
      color: white;
}

.call-to-action-texts h2 span{
      font-weight: 700;
}


.call-to-action-texts p{
       width: 80%;
       margin: auto;;
       font-size: 20px;
       color: whitesmoke;
       line-height: 1.75;
       font-weight: 300;
       margin-bottom: 20px;
}

.call-to-action-texts a{
      width: 200px;
      height: 55px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      font-size: 16px;
      color: var(--main-color);
      gap: 5px;
}

.call-to-action-texts a span{
     display: flex;
     margin-top: 4px;
}


@media(max-width: 1200px){
     .hero-texts h1{
            font-size: 64px;
     }
}

@media(max-width: 1090px){
       .hero-section{
             height: auto;
       }
      .hero-texts h1{
             text-align: center;
             font-size: 54px;
             min-height: 160px;
      }
      .action-column a{
            margin: auto;
      }
      .hero-row,
      .about-section-row{
           grid-template-columns: 1fr;
      }
      .hero-description-box{
            transform: translateY(80px);
            -webkit-transform: translateY(80px);
            -moz-transform: translateY(80px);
            -ms-transform: translateY(80px);
            -o-transform: translateY(80px);
}
    .about-section-row{
            gap: 10px;
    }
    .about-section-column h2,
    .process-intro h2,
    .clients-intro h2{
            font-size: 50px;
    }
    .feature-row-moja:nth-child(3)::after{
          display: flex;
    }
    .feature-row-moja:nth-child(2)::after,
    .feature-row-moja:nth-child(4)::after{
          display: none;
    }
    .feature-row-moja::after{
              display: none !important;
    }

    .services-section-content{
           grid-template-columns: 1fr;
           gap: 30px;
    }
    .services-intro{
          position: relative;
          top: auto;
    }

    .other-solutions-row,
    .blog-section-row{
       grid-template-columns: 1fr 1fr;
    }

    .process-intro,
    .process-moja,
    .clients-section-row,
    .call-to-action-texts{
          width: 100%;
    }

    .process-section-row{
          grid-template-columns: 1fr;
    }
    .clients-intro,
    .blog-intro{
         grid-template-columns: 1fr;
         gap: 0px;
    }
    .testimonial-client-text p{
       font-size: 20px;
    }
    .clients-section-row{
          display: block;
    }
    .clients-tab-content{
             min-height: 400px;
    }
    .call-to-action-texts h2{
             font-size: 60px;
    }
}

@media(max-width: 768px){
        .hero-texts h1{
               font-size: 40px;
               min-height: 120px;
        }
        .hero-description-box,
        .action-vid{
               width: 90%;
        }

        .about-section-column h2{
               font-size: 36px;
               text-align: center;
        }
        .hero-description-box h2{
              font-size: 30px;
              line-height: 1.25;
        }

        .about-section-column p{
             text-align: center;
        }
         
        .about-section-column a{
            margin: auto;
        }

        .feature-row-moja::after{
              display: none;
        }

        .services-section-body h2,
        .process-intro h2,
        .clients-intro h2,
        .blog-intro h2{
               font-size: 40px;
        }

        .digital-strategy-content,
.branding-content-row,
.production-content-row,
.blog-section-row{
       grid-template-columns: 1fr;
}

 .process-section-images{
        height: 500px;
 }
 .testimonial-client-text p{
        font-size: 17px;
 }
 .clients-tab-content{
        min-height: 500px;
 }

   .partners-title h4{
        display: inline-block;
        width: 100%;
        text-align: center;
        font-weight: 500;
        line-height: 1.5;
        font-size: 24px;
   }
   .partners-title span.line{
           display: none;
   }
   .call-to-action-texts h2{
         font-size: 50px;
   }
   .call-to-action-texts p{
           width: 90%;
   }
}

@media(max-width: 530px){
      .hero-description-box p{
            font-size: 18px;
      }
      .services-intro h3{
           font-size: 24px;
      }
      .services-section-body h2{
             font-size: 30px;
      }
      .other-solutions-row{
           grid-template-columns: 1fr;
      }
      .process-intro h2{
            font-size: 32px;
      }
      .process-intro p{
             width: 100%;
      }
      .process-moja-wrap{
             flex-direction: column;
      }
}