@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root{
    --regular-font: "Outfit", serif;
    --bold-font: "Plus Jakarta Sans", sans-serif;
    --main-color: #FA8072;
}

body{
    font-family: var(--regular-font);
}
ul{
   list-style: none;
}
a{
   text-decoration: none;
   display: flex;
}
img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

::-webkit-scrollbar {
   width: 7px;
 }
::-webkit-scrollbar-thumb {
     background: var(--main-color);
     border-radius:2px;
     -webkit-border-radius:2px;
     -moz-border-radius:2px;
     -ms-border-radius:2px;
     -o-border-radius:2px;
}

h1, h2, h3, h4, h5, h6{
     font-family: var(--bold-font);
}
input, 
textarea,
button{
      font-family: var(--regular-font);
      outline: none;
}
.inner-row{
  width: 90%;
  margin: auto;
}

.header-section{
     border-bottom: 1px solid rgba(246, 238, 234, 0.847);
     background: white;
}
.header-content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 85px;
}
.header-content-column{
   display: flex;
   align-items: center;
   gap: 50px;
}

.logo h2{
      font-size: 20px;
      color: #222;
      display: flex;
      font-weight: 400;
      align-items: flex-end
}
.logo h2 span,
.footer-logo h2 span{
       font-weight: 600;
       font-size: 25px;
       line-height: 25px;
}
.logo h2 span.dot,
.footer-logo h2 span.dot{
       background-color: var(--main-color);
       width: 7px;
       height: 7px;
       display: flex;
       margin: 0px 0px 2px 2px;
       border-radius: 2px;
       -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
       -ms-border-radius: 2px;
       -o-border-radius: 2px;
}
.header-content nav{
      padding-left: 20px;
      border-left: 1px solid rgb(181, 181, 181);
}
.header-content nav ul{
   display: flex;
   gap: 30px;
}

.header-content nav ul li a,
.sidebar-nav ul li a{
   color: #222;
}

.header-content nav ul li a:hover,
.header-content nav ul li a.active,
.sidebar-nav ul li a:hover,
.sidebar-nav ul li a.active{
     color: var(--main-color);
}

.header-content .action-btn,
.sidebar-nav .sidebar-action-btn{
    width: 180px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.menu-btn{
     width: 45px;
     height: 45px;
     background: rgba(248, 234, 230, 0.5);
     display: none;
     align-items: center;
     justify-content: center;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
     font-size: 22px;
     cursor: pointer;
     margin-top:3px;
     transition: all 0.75s ease;
     -webkit-transition: all 0.75s ease;
     -moz-transition: all 0.75s ease;
     -ms-transition: all 0.75s ease;
     -o-transition: all 0.75s ease;
}
.menu-btn:hover{
     background: #fa807239;
}


.sidebar-section{
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -99;
      opacity: 0;
      visibility: hidden;
}

.sidebar-section.active{
      z-index: 99;
      opacity: 1;
}

.sidebar-overlay{
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: #fa807288;
     transform: translateY(-100%);
     -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
     -ms-transform: translateY(-100%);
     -o-transform: translateY(-100%);
}
.sidebar-content{
     width: 500px;
     height: 100%;
     position: absolute;
     top: 0;
     background: white;
     padding: 20px;
     transform: translateX(-100%);
     -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
     -ms-transform: translateX(-100%);
     -o-transform: translateX(-100%);
}
.sidebar-header{
     display: flex;
     justify-content: space-between;
     gap: 20px;
     align-items: center;
     padding-bottom: 10px;
     border-bottom: 1px solid #fa807234;
}
.sidebar-logo h2{
       font-size: 22px;
       color: #222;
}

.sidebar-header span{
   width: 45px;
   height: 45px;
   background: rgba(248, 234, 230, 0.5);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
   font-size: 22px;
   cursor: pointer;
   margin-top:3px;
   transition: all 0.75s ease;
   -webkit-transition: all 0.75s ease;
   -moz-transition: all 0.75s ease;
   -ms-transition: all 0.75s ease;
   -o-transition: all 0.75s ease;
}
.sidebar-header span:hover{
   background: #fa807239
}
.sidebar-nav{
   margin-top: 10px;
}
.sidebar-nav ul{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 30px;
}

footer{
       background: rgb(235, 234, 233);
}

.footer-content{
       padding: 100px 0;
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 80px;
}

.footer-logo h2{
      font-size: 24px;
      color:#222;
      display: flex;
      font-weight: 400;
      align-items: flex-end;
      margin-bottom: 20px;
}
.footer-logo h2 span{
      font-size: 36px;
      line-height: 36px;
}
.footer-description{
       font-size: 18px;
       font-weight: 300;
       line-height: 1.5;
       margin-bottom: 20px;
       color: #444;
}

.footer-socials h5{
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 10px;
}

.footer-socials ul{
      display: flex;
      gap: 10px;
}
.footer-socials ul li a{
       color: #333;
       font-size: 20px;
       border-radius: 6px;
       -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
       -ms-border-radius: 6px;
       -o-border-radius: 6px;
       transition: all 0.8s ease;
       -webkit-transition: all 0.8s ease;
       -moz-transition: all 0.8s ease;
       -ms-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
}
.footer-socials ul li a span{
      display: flex;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
}

.footer-socials ul li a:hover{
      background: rgba(205, 202, 199, 0.366);
      color: var(--main-color);
}


.footer-column-grid{
       display: grid;
       grid-template-columns: 1fr 1.75fr;
       gap: 30px
}

.footer-column-box h3{
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
}

.footer-column-box ul{
      display: flex;
      flex-direction: column;
      gap: 20px;
}
.footer-column-box ul li a{
      color: #222;
      font-weight: 300;
      transition: all 0.8s ease;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
}

.footer-column-box ul li a:hover{
      color: var(--main-color);
      font-weight: 400;
}

.footer-wrap{
      margin-bottom: 20px;
}

.footer-wrap h4{
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      color: rgb(50, 50, 50);;
      margin-bottom: 10px;
}
.footer-wrap p{
       font-weight: 300;
       display: flex;
       align-items: center;
       color: rgb(50, 50, 50);
       font-size: 16px;
       gap: 5px;
}

.footer-wrap p span{
       display: flex;
       font-size: 22px;
}


.copyright{
      text-align: center;
      padding: 30px 0;
      border-top: 0.5px solid gainsboro;
}
.copyright p{
      font-size: 15px;
      font-weight: 300;
}




















@media(max-width: 1090px){
      .sidebar-section{
            visibility: visible;
      }
      .header-content nav ul{
            display: none;
      }
      .menu-btn{
            display: flex;
      }
}

@media(max-width: 768px){
     .header-content-column .action-btn{
           display: none;
     }
     .sidebar-content{
       width: 100%;
     }
}